.o-page-wrapper {
  display: grid;
  grid-template-rows: 72px 1fr 570px;
  @include for-desktop-up {
    grid-template-rows: 72px 1fr 323px;
  }
}

.o-distance-left24px {
  @include for-desktop-up {
    padding-left: 24px;
  }
}
