.o-page-wrapper {
    display: grid;
    grid-template-rows: 72px 1fr 570px;
    @include for-desktop-up {
        grid-template-rows: 72px 1fr 323px;
    }
}

.o-page-content-wrapper {
    
    // margin: 0 20px 0 20px;
    width: 90%;
    margin: 0 auto;
} 

.o-distance-left24px {
    @include for-desktop-up {
        padding-left: 24px;

    }
}

.o-contacts-container {
    padding: 32px 32px;
}