html,
* {
  font-family: "Lato", sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-like,
.h2-like,
.h3-like,
.h4-like {
  font-family: "Montserrat", sans-serif;
}

h1,
.h1-like {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  @include for-desktop-up {
    line-height: 44px;
  }
}

h2,
.h2-like {
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
}

h3,
.h3-like {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h4,
.h4-like {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

h5,
.h5-like {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
