// button {
  
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 800;
//   font-size: 13px;
//   line-height: 16px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   text-transform: uppercase;
//   border: none;
// color: #ffffff;
// }

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h5 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
