$grey-100: #f1f1f1;
$grey-200: #E6E6E6;
$grey-400: #B2B2B2;
$grey-500: #919191;
$grey-600: #696969;
$grey-700: #565656;
$secondary-50: #FFF8E1;
$secondary-100: #ffecb3;
$secondary-500: #FFC20A;
$secondary-600: #FFB402;
$secondary-800: #ff9100;
$secondary-900: #ffcb29;
$primary-50: #DFF4F1;
$primary-300: #41bead;
$blue-200: #92CDFB;;
$blue-300: #66B9F8;
$blue-400: #44a9f8;
$white:#FFFFFF;
