@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin: 0em;
}

h5 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@font-face {
  font-family: 'Lato';
  src: url("../../assets/fonts/latoregular.woff2") format("woff2"), url("../../assets/fonts/latoregular.woff") format("woff");
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  font-family: 'Lato', sans-serif;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.o-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 72px 1fr 570px;
      grid-template-rows: 72px 1fr 570px;
}

@media (min-width: 1200px) {
  .o-page-wrapper {
    -ms-grid-rows: 72px 1fr 323px;
        grid-template-rows: 72px 1fr 323px;
  }
}

.o-page-content-wrapper {
  width: 89.33333333333333%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .o-page-content-wrapper {
    width: 89.58333333333333%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .o-distance-left24px {
    padding-left: 24px;
  }
}

.o-contacts-container {
  padding: 32px 32px;
}

.c-header {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.c-header__navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr min-content;
      grid-template-columns: 1fr 1fr -webkit-min-content;
      grid-template-columns: 1fr 1fr min-content;
}

@media (min-width: 1200px) {
  .c-header__navbar__checkbtn {
    display: none;
  }
}

.c-header__navbar #check {
  display: none;
}

.c-header__navbar #check:checked ~ .c-header__navbar__items {
  right: 0%;
}

.c-header__navbar__checkbtn {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-header__navbar__items {
  position: fixed;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, #fffcfc), to(#ff9100));
  background: linear-gradient(180deg, #fffcfc 46%, #ff9100 100%);
  top: 55px;
  padding-left: 0em;
  right: -100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

@media (min-width: 1200px) {
  .c-header__navbar__items {
    position: relative;
    top: 0;
    left: 0;
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[7];
        grid-template-columns: repeat(7, auto);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.c-header__navbar__item a {
  color: #565656;
}

.c-header__navbar__item a:hover {
  cursor: pointer;
  color: #ff9100;
}

@media (min-width: 1200px) {
  .c-header__navbar__item {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin-right: 48px;
  }
  .c-header__navbar__item__search img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-header__navbar__item__search img:hover {
    cursor: pointer;
  }
}

.c-header__navbar__logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content min-content;
      grid-template-columns: -webkit-min-content -webkit-min-content;
      grid-template-columns: min-content min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__navbar__logo__orange-arrow {
  display: none;
}

@media (min-width: 1200px) {
  .c-header__navbar__logo__orange-arrow {
    display: block;
    margin-right: 16px;
  }
}

.c-header__navbar__logo__dark-arrow {
  margin-right: 14px;
}

@media (min-width: 1200px) {
  .c-header__navbar__logo__dark-arrow {
    display: none;
  }
}

.c-header__navbar__logo__softuni-destop {
  display: none;
}

@media (min-width: 1200px) {
  .c-header__navbar__logo__softuni-destop {
    display: block;
  }
}

@media (min-width: 1200px) {
  .c-header__navbar__logo__softuni-mobile {
    display: none;
  }
}

.btn {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #ff9100;
  color: #FFFFFF;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  width: 82px;
  height: 36px;
  margin: 18px 0;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: end;
  margin-right: 24px;
}

@media (min-width: 1200px) {
  .btn--secondary {
    margin-right: 0;
    margin-left: 32px;
  }
}

.btn--enrollment {
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #ff9100;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 16px 85px;
  margin: 46px 24px 82px 24px;
}

@media (min-width: 1200px) {
  .btn--enrollment {
    padding: 14px 32px;
    margin: 32px 137px 32px 64px;
  }
}

.btn--form {
  padding: 14px 129px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 64px 0;
}

@media (min-width: 1200px) {
  .btn--form {
    padding: 14px 32px;
    margin: 0 0 0 16px;
  }
}

.btn--find-us {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ff9100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 64%;
  margin-top: 18px;
  color: #ff9100;
  padding: 14px 32px;
}

.c-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[9];
      grid-template-rows: repeat(9, auto);
}

.c-beginner {
  background-color: #44a9f8;
  color: #FFFFFF;
  width: 100%;
  min-height: 302px;
  text-align: center;
}

.c-beginner__info__label {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  background-color: #FFC20A;
  padding: 4px 8px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 64px;
}

.c-beginner__info__title {
  max-width: 80%;
  margin: 28px auto;
}

.c-beginner__info__title p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 1200px) {
  .c-beginner__info__title p {
    width: 52%;
    margin: 0 auto;
  }
}

.c-enrollment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  position: relative;
  top: -57px;
  background-color: #FFFFFF;
}

.c-enrollment::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  background: radial-gradient(circle 12px, transparent, transparent 30%, #c4c4c4 50%, #fff 60%, #fff 100%) 47px 0px/20px 20px repeat-x;
  top: 134px;
}

@media (min-width: 1200px) {
  .c-enrollment::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 65px;
    left: 250px;
    top: 0;
    background: radial-gradient(circle 12px, transparent, transparent 30%, #c4c4c4 50%, #fff 60%, #fff 100%) 47px -7px/20px 18px repeat-y;
  }
}

@media (min-width: 1200px) {
  .c-enrollment {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-enrollment__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 24px;
}

@media (min-width: 1200px) {
  .c-enrollment__item {
    margin: 0 60px 0 0;
  }
}

.c-enrollment__item:not(:last-child):after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #f1f1f1;
  position: absolute;
  top: 75px;
}

@media (min-width: 1200px) {
  .c-enrollment__item:not(:last-child):after {
    content: "";
    display: block;
    width: 2px;
    height: 24px;
    background-color: #f1f1f1;
    position: absolute;
    top: 20px;
    right: -33px;
  }
}

.c-enrollment__item img {
  margin-right: 24px;
}

.c-enrollment__item h5 {
  color: #565656;
  margin-bottom: 6px;
}

.c-enrollment__item span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff9100;
}

@media (min-width: 1200px) {
  .c-description .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 650px 1fr;
        grid-template-columns: 650px 1fr;
  }
}

.c-description__info {
  margin-bottom: 32px;
}

.c-description__info p {
  color: #565656;
}

.c-description__media {
  position: relative;
  margin-bottom: 64px;
}

@media (min-width: 1200px) {
  .c-description__media {
    margin: 0;
    width: 440px;
    height: 280px;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.c-description__media__img {
  width: 100%;
}

.c-description__media__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-description__cart-info {
  position: relative;
  margin-bottom: 74px;
}

.c-description__cart-info__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.c-description__cart-info img {
  margin-right: 18px;
}

.c-description__cart-info h3 {
  color: #565656;
}

.c-description__cart-info p {
  color: #565656;
}

.c-description__cart-info p a {
  color: #ff9100;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .c-description__cart-info p {
    margin-left: 55px;
  }
}

@media (min-width: 1200px) {
  .c-description__cart-info {
    margin: 0;
    width: 83%;
  }
  .c-description__cart-info .display-none {
    display: none;
  }
}

.display-none-mobile {
  display: none;
}

@media (min-width: 1200px) {
  .display-none-mobile {
    display: block;
    width: 100%;
  }
}

.display-none-desctop {
  display: block;
}

@media (min-width: 1200px) {
  .display-none-desctop {
    display: none;
  }
}

.dotted {
  position: relative;
}

.dotted::before {
  content: "";
  display: block;
  border: 10px dotted #ffecb3;
  border-style: none none dotted;
  bottom: -40px;
  width: 100%;
  position: absolute;
}

@media (min-width: 1200px) {
  .dotted::before {
    content: "";
    display: block;
    border: 10px dotted #ffecb3;
    border-style: none dotted none none;
    top: 0px;
    height: 100%;
    right: -66px;
    position: absolute;
  }
}

.c-program {
  margin-bottom: 59px;
  position: relative;
  margin-top: 59px;
  padding-bottom: 69px;
}

@media (min-width: 1200px) {
  .c-program .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 700px 1fr;
        grid-template-columns: 700px 1fr;
  }
}

.c-program::before {
  content: "";
  display: block;
  border: 10px dotted white;
  border-style: none none dotted;
  width: 100%;
  top: -5px;
  left: -5px;
  position: absolute;
}

.c-program::after {
  content: "";
  display: block;
  border: 10px dotted white;
  border-style: none none dotted;
  width: 100%;
  bottom: -5px;
  left: -5px;
  position: absolute;
}

.c-program--orange {
  background-color: #ffcb29;
}

.c-program__lists-training-img {
  display: none;
}

@media (min-width: 1200px) {
  .c-program__lists-training-img {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.c-program__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 59px;
}

.c-program__title img {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .c-program__title img {
    margin: 0 0 24px 0;
  }
}

.c-program__title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #565656;
  width: 80%;
  margin: 0 16px;
}

@media (min-width: 1200px) {
  .c-program__title h3 {
    margin-bottom: 24px;
    margin-left: 31px;
  }
}

.c-program__description {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

@media (min-width: 1200px) {
  .c-program__description {
    margin: 0 0 0 63px;
  }
}

.c-program h5 {
  color: #565656;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media (min-width: 1200px) {
  .c-program__classes {
    margin: 0 0 0 63px;
  }
}

.c-program__classes div {
  padding-bottom: 69px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr min-content;
      grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
      grid-template-columns: min-content 1fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 14px 14px 14px 14px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.c-program__classes div img {
  cursor: pointer;
}

.c-program__classes p {
  width: 85%;
  margin: 0;
}

@media (min-width: 1200px) {
  .c-program__classes p {
    width: 100%;
  }
}

.c-program__classes p,
.c-program__classes span {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
}

.c-program__classes .third {
  margin-bottom: 45px;
}

@media (min-width: 1200px) {
  .c-program__classes .third {
    margin-bottom: 0px;
  }
}

.c-program__classes .fourth {
  margin-bottom: 22px;
}

@media (min-width: 1200px) {
  .c-program__classes .fourth {
    margin-bottom: 0px;
  }
}

.c-certificate {
  margin-bottom: 106px;
  display: none;
}

@media (min-width: 1200px) {
  .c-certificate {
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 59px;
  }
  .c-certificate__cart-info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .c-certificate__cart-info__title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
  }
  .c-certificate__cart-info__title img {
    margin-right: 32px;
  }
  .c-certificate__cart-info__title h3 {
    color: #565656;
  }
  .c-certificate__cart-info p {
    color: #565656;
    margin-left: 60px;
    width: 85%;
  }
  .c-certificate__img {
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
  }
  .c-certificate__img p {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #565656;
    position: absolute;
    left: 73%;
    top: 41%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.c-footer {
  position: relative;
}

.c-footer .o-page-content-wrapper {
  position: relative;
}

@media (min-width: 1200px) {
  .c-footer .o-page-content-wrapper p {
    width: 16%;
    position: absolute;
    right: -65px;
    top: 278%;
    text-align: left;
  }
}

.c-footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-color: #919191;
}

.c-footer--grey {
  background-color: #565656;
}

.c-footer section {
  margin: 0 0 32px 0;
}

.c-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 481px;
  padding-top: 52px;
  border-bottom: 1px solid #696969;
}

@media (min-width: 1200px) {
  .c-footer__nav {
    height: 0;
    border: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content max-content max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content max-content max-content;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .c-footer__nav section {
    margin-left: 85px;
  }
}

@media (min-width: 1200px) {
  .c-footer__nav .only {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "test1 test6" "test2 test7" "test3 ." "test4 ." "test5 .";
  }
  .c-footer__nav .only .item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: test1;
  }
  .c-footer__nav .only .item2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: test2;
  }
  .c-footer__nav .only .item3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: test3;
  }
  .c-footer__nav .only .item4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: test4;
  }
  .c-footer__nav .only .item5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: test5;
  }
  .c-footer__nav .only .item6 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: test6;
  }
  .c-footer__nav .only .item7 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: test7;
  }
}

.c-footer__nav .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-footer__nav .icons h5 {
  display: none;
}

@media (min-width: 1200px) {
  .c-footer__nav .icons h5 {
    display: block;
  }
}

.c-footer__nav .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-footer__nav .icons a .fa-facebook {
  width: 29px;
  height: 29px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  color: #565656;
}

.c-footer__nav .icons a .fa-facebook:hover {
  color: #41bead;
}

.c-footer__nav .icons a:hover {
  color: #41bead;
}

.c-footer__nav .icons i {
  margin-right: 30px;
  font-size: 30px;
}

.c-footer ul {
  margin: 0;
  padding: 0;
}

.c-footer ul li {
  margin: 0 0 12px 0;
}

.c-footer h5 {
  color: white;
  margin: 0 0 16px 0;
}

.c-footer a {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #e6e6e6;
}

.c-footer a:hover {
  color: #41bead;
}

.c-footer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #919191;
  margin: 32px 0 0 0;
  padding-bottom: 32px;
}

@media (min-width: 1200px) {
  .c-footer::after {
    content: url("/assets/images/Mask Group.svg");
    display: block;
    position: absolute;
    left: 75px;
    top: -80px;
  }
}

.c-welcome-section {
  background-color: #FFB402;
  margin: 0em;
}

.c-welcome-section__title h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px !important;
  line-height: 44px;
  color: #FFFFFF;
  text-align: center;
  margin: 64px 0 0 0;
  -webkit-animation: heading;
          animation: heading;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.c-welcome-section__title p {
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  margin: 24px 20px 64px 20px;
  width: 85%;
  -webkit-animation: content;
          animation: content;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 1200px) {
  .c-welcome-section__title p {
    margin: 24px auto 64px auto;
    width: 60%;
  }
}

.c-teachers {
  position: relative;
  padding: 48px 0 0 0;
}

.c-teachers:nth-child(2)::before {
  content: "";
  display: block;
  border: 10px dotted #DFF4F1;
  border-style: none none dotted;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

.c-teachers__info {
  margin-bottom: 64px;
}

@media (min-width: 1200px) {
  .c-teachers__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 175px 1fr;
        grid-template-columns: 175px 1fr;
  }
}

.c-teachers__info__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.c-teachers__info__img img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  border: 8px solid #41bead;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.c-teachers__info__img img:hover {
  -webkit-transform: scale(1.05, 1.05) rotate(0) skew(0, 0) translate(0, 0);
          transform: scale(1.05, 1.05) rotate(0) skew(0, 0) translate(0, 0);
}

.c-teachers__info__description__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #41bead;
  text-align: center;
}

@media (min-width: 1200px) {
  .c-teachers__info__description__name {
    margin: 0 0 8px 0;
    text-align: left;
  }
}

.c-teachers__info__description__position {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
  text-align: center;
}

@media (min-width: 1200px) {
  .c-teachers__info__description__position {
    text-align: left;
    margin: 0em;
  }
}

.c-teachers__info__description__about-teacher {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

@media (min-width: 1200px) {
  .c-teachers__info__description {
    margin: 24px 0 0 37px;
  }
}

@media (min-width: 1200px) {
  .c-teachers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.c-teachers-profile {
  padding-top: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 375px) {
  .c-teachers-profile .for-mobile {
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content min-content;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 46px;
  }
}

@media (min-width: 1200px) {
  .c-teachers-profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 64px;
    grid-column-gap: 91px;
    justify-items: center;
  }
}

.c-teachers-profile__card {
  display: none;
}

@media (min-width: 1200px) {
  .c-teachers-profile__card {
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content min-content;
    justify-items: center;
  }
}

.c-teachers-profile__card__name {
  margin: 0 0 8px 0;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #41bead;
  text-align: center;
}

.c-teachers-profile__card__position {
  text-align: center;
}

.c-teachers-profile__card-img {
  position: relative;
  width: 175px;
  height: 175px;
  margin: 0 0 24px 0;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.c-teachers-profile__card-img .image {
  width: 100%;
  border-radius: 50%;
  border: 8px solid #41bead;
}

.c-teachers-profile__card-img:hover {
  -webkit-transform: scale(1.05, 1.05) rotate(0) skew(0, 0) translate(0, 0);
          transform: scale(1.05, 1.05) rotate(0) skew(0, 0) translate(0, 0);
}

.c-teachers-profile__card-img .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 91%;
  width: 91%;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color: #ff9100;
}

.c-teachers-profile__card-img .text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.c-teachers-profile__card-img:hover .overlay {
  opacity: 0.8;
  cursor: pointer;
}

.c-form {
  margin-top: 50px;
  position: relative;
  background-color: #66B9F8;
}

.c-form::before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-color: #92CDFB;
}

.c-form .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content 1fr;
      grid-template-rows: -webkit-min-content -webkit-min-content 1fr;
      grid-template-rows: min-content min-content 1fr;
}

.c-form__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 64px 0 0 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

.c-form__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 24px 0 64px 0;
  width: 90%;
}

@media (min-width: 1200px) {
  .c-form__description {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    width: 72%;
  }
}

.c-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content min-content;
  justify-items: center;
  grid-row-gap: 36px;
}

@media (min-width: 1200px) {
  .c-form form {
    margin: 0 0 128px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 228px 228px 228px min-content;
        grid-template-columns: 228px 228px 228px -webkit-min-content;
        grid-template-columns: 228px 228px 228px min-content;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 32px;
  }
}

.c-form form input {
  width: 335px;
  height: 52px;
  background: #66b9f8;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  color: #FFFFFF;
}

.c-form form input::-webkit-input-placeholder {
  color: #FFFFFF;
  padding: 16px 0 16px 16px;
}

.c-form form input:-ms-input-placeholder {
  color: #FFFFFF;
  padding: 16px 0 16px 16px;
}

.c-form form input::-ms-input-placeholder {
  color: #FFFFFF;
  padding: 16px 0 16px 16px;
}

.c-form form input::placeholder {
  color: #FFFFFF;
  padding: 16px 0 16px 16px;
}

@media (min-width: 1200px) {
  .c-form form input {
    width: 228px;
  }
}

.c-map {
  position: relative;
  width: 100%;
  height: auto;
}

.c-contacts {
  width: 520px;
  height: auto;
  position: absolute;
  display: -ms-grid;
  display: grid;
  background-color: #FFFFFF;
  left: 75px;
  top: 274px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.c-contacts .o-contacts-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr min-content min-content;
      grid-template-rows: 1fr -webkit-min-content -webkit-min-content;
      grid-template-rows: 1fr min-content min-content;
  grid-row-gap: 14px;
  grid-column-gap: 24px;
}

.c-contacts h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #41bead;
  margin: 0 0 18px 0;
}

.c-contacts p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
  width: 100%;
}

.c-contacts span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
  margin: 0 0 12px 0;
}

.c-contacts__address p {
  width: 90%;
}

.c-contacts__contacts {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.c-contacts__contacts p {
  margin: 0 0 12px 0;
}

.c-contacts__work-time__workweek {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-contacts__work-time__workweek__period {
  color: #ff9100 !important;
}

.c-contacts__work-time__weekend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-contacts__work-time__weekend__period {
  color: #ff9100 !important;
}

.c-form-write-us {
  width: 850px;
  margin: 180px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.c-form-write-us form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
}

@-webkit-keyframes heading {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@keyframes heading {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes content {
  0% {
    left: -2000px;
  }
  100% {
    left: 0;
  }
}

@keyframes content {
  0% {
    left: -2000px;
  }
  100% {
    left: 0;
  }
}
/*# sourceMappingURL=stlyles.css.map */