@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h5 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.o-container {
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .o-container {
    margin: 0 75px;
  }
}

.o-container-recording {
  padding: 0 24px;
}

@media (min-width: 1200px) {
  .o-container-recording {
    padding: 32px 90px 32px 64px;
    margin: 0;
  }
}

.o-margin-left24px {
  margin-left: 24px;
  position: relative;
}

.header .c-navbar {
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

@media (min-width: 1200px) {
  .header .c-navbar .c-navbar__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content;
        grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
        grid-template-columns: max-content 1fr max-content;
  }
  .header .c-navbar .c-navbar__checkbtn {
    display: none;
  }
  .header .c-navbar .c-navbar__items {
    position: relative;
    top: 0em;
    left: 0;
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[7];
        grid-template-columns: repeat(7, auto);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.header .c-navbar__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 30px;
      grid-template-columns: 100px 1fr 30px;
}

.header .c-navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .c-navbar__dark-arrow {
  margin-right: 14px;
}

@media (min-width: 1200px) {
  .header .c-navbar__dark-arrow {
    display: none;
  }
}

.header .c-navbar__orange-arrow {
  margin-right: 14px;
  display: none;
}

@media (min-width: 1200px) {
  .header .c-navbar__orange-arrow {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header .c-navbar__softuni-logo {
    display: none;
  }
}

.header .c-navbar__softuni-destop-logo {
  display: none;
}

@media (min-width: 1200px) {
  .header .c-navbar__softuni-destop-logo {
    display: block;
  }
}

.header .c-navbar__items {
  position: fixed;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(46%, #fffcfc), to(#ff9100));
  background: linear-gradient(180deg, #fffcfc 46%, #ff9100 100%);
  top: 55px;
  padding-left: 0em;
  left: -100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

.header .c-navbar__item a {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #565656;
}

.header .c-navbar__item a:hover {
  cursor: pointer;
  color: #ff9100;
}

@media (min-width: 1200px) {
  .header .c-navbar__item {
    margin-right: 48px;
  }
}

@media (min-width: 1200px) {
  .header .c-navbar__item-search {
    display: -ms-grid;
    display: grid;
    margin-right: 32px;
    margin-left: -4px;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

.header .c-navbar__btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .c-navbar__checkbtn {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -ms-grid;
  display: grid;
}

.header .c-navbar__checkbtn img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header #check {
  display: none;
}

#check:checked ~ .c-navbar__items {
  left: 0%;
}

.header__info {
  background-color: #44a9f8;
  color: #FFFFFF;
  width: 100%;
  min-height: 302px;
  text-align: center;
}

.header__info .header__info-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  background-color: #ffc20a;
  padding: 4px 8px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 64px;
}

.header__info .header__second-title {
  max-width: 80%;
  margin: 28px auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.header__info .header__second-title p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  width: 52%;
  margin: 0 auto;
}

.btn {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #ff9100;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 18px 0;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: end;
  margin-right: 24px;
}

@media (min-width: 1200px) {
  .btn--secondary {
    margin-right: 0;
  }
}

.btn--recording {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #ff9100;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 16px 20px;
  margin-top: 46px;
  margin-bottom: 82px;
}

@media (min-width: 1200px) {
  .btn--recording {
    padding: 14px 32px;
    margin: 32px 137px 32px 0;
  }
}

.c-recording {
  position: relative;
  bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (min-width: 1200px) {
  .c-recording {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
  }
}

.c-recording__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .c-recording__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-row-align: center;
        align-self: center;
  }
}

.c-recording__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
}

@media (min-width: 1200px) {
  .c-recording__item {
    margin: 0 20px;
  }
}

.c-recording__item img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-recording__item span {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-recording__title {
  color: #565656;
  margin: 0;
}

.c-recording__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff9100;
}

.c-recording article {
  position: relative;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .c-recording article {
    margin: 0;
  }
}

.c-recording article:not(:last-child):after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #f1f1f1;
  position: absolute;
  top: 75px;
  left: 0;
}

.descriptions {
  margin-top: 0px;
}

.descriptions__info {
  color: #565656;
}

.descriptions__media {
  position: relative;
  margin-top: 32px;
}

.descriptions__media__play__img {
  width: 100%;
  height: auto;
}

.descriptions__media__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.descriptions__cart {
  margin-top: 64px;
}

.descriptions__cart .cart__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descriptions__cart .first {
  position: relative;
  margin-bottom: 70px;
}

.descriptions__cart .first img {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.descriptions__cart .first:not(:last-child)::after {
  content: "";
  display: block;
  border: 10px dotted #ffecb3;
  border-style: none none dotted;
  width: 100%;
  position: absolute;
  bottom: -2em;
}

.descriptions__cart .first,
.descriptions__cart .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.descriptions__cart .first img,
.descriptions__cart .second img {
  margin-right: 20px;
}

.descriptions__cart .first h3,
.descriptions__cart .second h3 {
  margin: 0em;
  width: 80%;
  color: #565656;
}

.descriptions__cart .first p,
.descriptions__cart .second p {
  color: #565656;
}

.descriptions__cart .first p a,
.descriptions__cart .second p a {
  color: #ff9100;
  text-decoration: underline;
  cursor: pointer;
}

.program {
  position: relative;
  margin-top: 59px;
  padding-bottom: 69px;
}

.program::before {
  content: "";
  display: block;
  border: 10px dotted white;
  border-style: none none dotted;
  width: 100%;
  top: -5px;
  left: -5px;
  position: absolute;
}

.program::after {
  content: "";
  display: block;
  border: 10px dotted white;
  border-style: none none dotted;
  width: 100%;
  bottom: -5px;
  left: -5px;
  position: absolute;
}

.program--orange {
  background-color: #ffcb29;
}

.program__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-top: 59px;
}

.program__title img {
  margin-bottom: 40px;
}

.program__title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #565656;
  width: 80%;
  margin: 0 16px;
}

.program__description {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

.program__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.program h5 {
  color: #565656;
  margin-top: 32px;
  margin-bottom: 16px;
}

.program__classes div {
  padding-bottom: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 14px 14px 14px 14px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.program__classes p {
  width: 85%;
}

.program__classes p,
.program__classes span {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
}

.program__classes .third {
  margin-bottom: 45px;
}

.program__classes .fourth {
  margin-bottom: 22px;
}

.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-color: #919191;
}

.footer--grey {
  background-color: #565656;
}

.footer section {
  margin: 0 0 32px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 481px;
  padding-top: 52px;
  border-bottom: 1px solid #696969;
}

.footer__nav .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__nav .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav .icons img {
  margin-right: 30px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin: 0 0 12px 0;
}

.footer h5 {
  color: white;
  margin: 0 0 16px 0;
}

.footer a {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #e6e6e6;
}

.footer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #919191;
  margin: 32px 0 0 0;
  padding-bottom: 32px;
}
/*# sourceMappingURL=stlyles.css.map */