.c-form-write-us {
  margin-top: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  @include for-tablet-portrait-up {
    margin-top: 500px;
  }

  @include for-tablet-landscape-up {
    margin-top: 350px;
  }

  @include for-desktop-up {
    width: 850px;
    margin: 180px auto 96px auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__title {
    justify-self: center;
    color: $primary-300;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-row-gap: 20px;

    @include for-desktop-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr min-content;
      grid-gap: 32px;
    }
    input,
    textarea {
      border: 1px solid $grey-500;
      border-radius: 6px;
      color: $primary-300;
      &:focus {
        outline: none !important;
        border-color: $primary-300;
        box-shadow: 0 0 10px $primary-300;
      }
    }

    input {
      height: 52px;
      &::placeholder {
        color: $grey-500;
        display: inline-block;
        padding: 16px 16px;
      }
    }

    textarea {
      @include for-desktop-up {
        grid-column: 1 / 3;
      }

      &::placeholder {
        color: $grey-500;
        padding: 16px 16px;
      }
    }
  }
}
