.c-teachers {
  position: relative;
  padding: 48px 0 0 0;
  @include for-desktop-up {
    margin-top: 96px;
    padding: 0em;
  }
  &:nth-child(2)::before {
    @extend %pseudo;
    border: 10px dotted $primary-50;
    border-style: none none dotted;
    bottom: -74px;
    @include for-desktop-up {
      bottom: 0px;
    }
  }
  &__info {
    margin-bottom: 64px;
    @include for-desktop-up {
      display: grid;
      grid-template-columns: 175px 1fr;
    }

    &__img {
      display: grid;
      grid-template-columns: 1fr;
      img {
        justify-self: center;
        width: 172px;
        height: 172px;
        border-radius: 50%;
        border: 8px solid $primary-300;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.05, 1.05) rotate(0) skew(0, 0) translate(0, 0);
        }
      }
    }
    &__description {
      &__name {
        color: $primary-300;
        text-align: center;
        margin: 32px 0 8px 0;
        @include for-desktop-up {
          margin: 0 0 8px 0;
          text-align: left;
        }
      }
      &__position {
        margin: 0 0 24px 0;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $grey-400;
        text-align: center;
        @include for-desktop-up {
          text-align: left;
          margin: 0em;
        }
      }
      &__about-teacher {
        color: $grey-700;
      }
      @include for-desktop-up {
        margin: 24px 0 0 37px;
        width: 98%;
      }
    }
  }
  @include for-desktop-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
}
