.descriptions {
  margin-top: 0px;
  &__info {
    color: $grey-700;

    @include for-desktop-up {
      display: grid;
      grid-template-columns: 1fr 440px;
    }
  }

  &__descriptions {
    @include for-desktop-up {
      margin-right: 110px;
    }
  }

  &__media {
    position: relative;
    margin-top: 32px;

    @include for-desktop-up {
      width: 440px;
      height: 248px;
    }

    &__play__img {
      width: 100%;
      height: auto;
    }
    &__play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__cart {
    margin-top: 64px;
    

    .cart__title {
      display: grid;
      grid-template-columns: max-content 1fr;

      img {
        margin-right: 18px;
      }
    }

    @include for-desktop-up {
        display: grid;
        grid-template-columns: 1fr ;
    }
   

    .first:not(:last-child)::after {
      content: "";
      display: block;
      border: 10px dotted #ffecb3;
      border-style: none none dotted;

      width: 100%;
      position: absolute;
      bottom: -2em;
    }

    
  }
}
