.recording {
  position: relative;
  top: 55px;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  &__title {
    color: #565656;
    margin-bottom: 6px;
  }

  &__info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ff9100;
  }

  &__people,
  &__calendar,
  &__location,
  &__money {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    img {
      margin: 26px 24px 0 24px;
    }

    span {
      display: flex;
    }
  }

  article{
    position: relative;
    margin-bottom: 25px;
  }

  article:not(:last-child):after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color:#F1F1F1;
    position: absolute;
    top: 100px;
    left: 25px;
  }
}
.imiges--container {
  position: absolute;
  top: 315px;
  right: 17px;
}
