.footer {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    background-color: #919191;
  }
  &--grey {
    background-color: #565656;
  }

  section {
    margin: 0 0 32px 0;
    
  }

  &__nav {
    .icons {
        flex: 1;
        
        ul {
            display: flex;
        }
  
        img {
          margin-right: 30px;
        }
      }
    display: flex;
    flex-flow: column wrap;
    height: 481px;
    padding-top: 52px;
    border-bottom: 1px solid #696969;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 12px 0;
    }
  }

  h5 {
    color: white;
    margin: 0 0 16px 0;
  }
  a {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #e6e6e6;
  }

  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #919191;
    margin: 32px 0 0 0;
    padding-bottom: 32px;
  }
}
